@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
*{
   
    padding: 0px;
   box-sizing: border-box;   
}
body{
    font-family:'Poppins', Helvetica, sans-serif;
	
}

	table {   
		margin-top: 100px;
		border:1px solid white;
		
		
	}
	 
	th {
		
		background:none repeat scroll 0 0 #3e827c;
		padding:20px;
		color: #FFFFFF;

	}
	
	tr {
		
		text-align:center;
		padding: 20px;	
	}

	td {
        border-bottom:1px solid gray;
		justify-content:center;	
		padding: 10px;
	}
	 
	tr:nth-child(even) {background: #FFFFFF ; border-bottom: 1px solid white; }
	tr:nth-child(odd) {background: #BBBBBB; border-bottom: 1px solid white; }	
	td:last-child{background: #FFFFFF ; }

	
	